.App {
  text-align: center;
}

.MessageContainer {
  height: 500px;
  max-width: 800px;
  margin: auto;
  overflow-y: scroll;
  background: #fafafa;
}

.MessageBox {
  padding: 20px;
  margin: 5px;
  background: lightblue;
}
